.hero {
  min-height: 85vh;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)),
    url("https://mundotuerca.cl/wp-content/uploads/2023/06/pintura-para-chasis-de-carro-protege-tu-vehiculo-con-calidad-1-1536x1024.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero-content {
  max-width: 600px;
  color: #fff;
}

.hero-badge {
  color: #ff6a00;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 28px;
  color: #d1d1d1;
}


.services {
  background: #0e0e0e;
  padding: 80px 20px;
  text-align: center;
}

.services h3 {
  color: #ff6a00;
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service-box {
  background: #151515;
  width: 280px;
  padding: 32px 22px;
  border-radius: 16px;
  transition: .3s;
}

.service-box:hover {
  transform: translateY(-10px);
   background-color: #221811;
}

.service-box span {
  font-size: 2.4rem;
}

.service-box h4 {
  color: #ff6a00;
  margin: 14px 0;
}

.service-box p {
  color: #bdbdbd;
}

.cta-final {
  background: linear-gradient(180deg, #0b0b0b, #111);
  padding: 80px 20px;
  text-align: center;
  color: #fff;
  border-top: 1px solid #1f1f1f;
}

.cta-final h3 {
  font-size: 2.2rem;
  margin-bottom: 14px;
}

.cta-final p {
  color: #cfcfcf;
  font-size: 1.1rem;
  margin-bottom: 28px;
}

.cta-btn {
  display: inline-block;
  background: #ff6a00;
  color: #000;
  padding: 14px 34px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: scale(1.05);
  background: #ff8124;
}

